table {
     border-collapse: collapse;
     border-spacing: 0;
 }

table#timeclock td {
    width: 15px;
    height: 40px;
    border: 1px solid darkgray;
    border-spacing: 0;
}

table#timeclock th {
    border-left: 1px solid darkgray;
}

.head {
    border: none !important;
    padding-right: 5px;
}

.separator {
    height: 10px;
    border: none !important;
}

table#timeclock tr {
    margin-bottom: 5px;
}

.separator-cell {
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    height: inherit !important;
}